* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

body{
  background-color: #0f171e;
  color: #ffffff;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 400px;
}